@model List<JobItem>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - harvesterRPG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/harvesterRPG.styles.css" asp-append-version="true" />
</head>
<body>
        <main role="main" class="pb-3">
            @RenderBody()
        <div class="wrapper">

            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Life Hack for RPG Jobs</h3>
                </div>

                <ul class="list-unstyled components">
                    <p>Choose your Job</p>
                    <li class="active">
                        <a href="#">Harvester</a>
                    </li>
                </ul>
            </nav>
            <!-- SIDEBAR ACIMA -->
            <div id="content">
                <div class="card-header">
                    <h1> Harvester </h1>
                </div>
                <p id="alertError" class="col-4 alert-danger visually-hidden"> Dados inseridos no campo de texto estão inválidos, selecione um tipo de clima e digite os 5 dados</p>
                <div class="card-body col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio"  id="tropical" name="listaRadio">
                        <label class="form-check-label" for="tropical">
                            Tropical Climate
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="mediterranean" name="listaRadio">
                        <label class="form-check-label" for="mediterranean">
                            Mediterranean Climate
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="temperate" name="listaRadio">
                        <label class="form-check-label" for="temperate">
                            Temperate Climate (city)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="special" name="listaRadio">
                        <label class="form-check-label" for="special">
                            Special Climate
                        </label>
                    </div>
                </div>

                <div class="card-body col-5">
                    <div>
                        <p>Digite os dados rolados (ex: 10 15 11 1 4)</p>
                        <input class="col-4" type:text id="textDices"/>
                    </div>
                    <div class="col-4 d-flex justify-content-end" style="margin-top:10px">
                        <button class="btn btn-primary" id="saveDices">Check Items</button>
                    </div>
                </div>

                <div class="card-body col-4">
                    <table class="table visually-hidden" id="tableResult">
                        <thead>
                            <tr>
                                <th scope="col">Item Name</th>
                                <th scope="col">Dice</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $('#saveDices').on('click', function () {
            var dadosString = $('#textDices').val();
            var numeros = dadosString.split(' ');
            var checkNumeros = true;
            numeros.forEach(nro => {
                var nroInt = parseInt(nro);
                if (numeros.length != 5 || nroInt > 20 || nroInt < 0) 
                    checkNumeros = false;
            });



            if (!checkNumeros || (!$('input[name="listaRadio"]:checked').length > 0))
                $('#alertError').removeClass('visually-hidden');
            else {
                $('#alertError').addClass('visually-hidden');
                var climateString = $('input[name="listaRadio"]:checked').attr('id');
                console.log(climateString);
                $.ajax({
                    url: '/Home/GetItemsFromDices', 
                    method: 'POST', 
                    data: { dices: dadosString, climate: climateString },
                    success: function (response) {
                        $('#tableResult').removeClass('visually-hidden');
                        var tbody = $('#tableBody');
                        tbody.empty();
                        console.log(response);
                        for (var i = 0; i < response.length; i++) {
                            var item = response[i];
                            var newRow = $('<tr>');
                            newRow.append('<td>' + item.itemName + '</td>'); // Ajuste para item.itemName
                            newRow.append('<td>' + item.itemDices + '</td>'); // Ajuste para item.itemDices
                            tbody.append(newRow);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }

        })

        $('#textDices').on('keyup', function (e) {
            this.value = this.value.replace(/[^0-9\s]/g, '');
        });


    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
